<LLM_provider_name>_API_KEY = "api_key_here" (e.g. GEMINI_API_KEY or OPENAI_API_KEY)
LLM_SDK=litellm
LOG_LEVEL=

DB_URL=postgresql+asyncpg://<username>:<password>@<hostname>/<database>
DB_SCHEMA=saaransh
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10
DB_DEBUG=
