<LLM_provider_name>_API_KEY = "api_key_here" (e.g. GEMINI_API_KEY or OPENAI_API_KEY)
LLM_SDK=litellm
LOG_LEVEL=

DB_URL=postgresql+asyncpg://<username>:<password>@<hostname>/<database>
DB_SCHEMA=saaransh
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10
DB_DEBUG=true

KEYCLOAK_URL="http://localhost:8081"
KEYCLOAK_RESOURCE_REALM ="saaransh"
KEYCLOAK_CLIENT_REALM="nirdesh"
KEYCLOAK_M2M_CLIENT_ID="client_id_here"
KEYCLOAK_M2M_CLIENT_SECRET="client_secret_here"

